@tailwind base;
@tailwind components;
@tailwind utilities;

/* main box: w 600 h 450 */

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

.card {

}


/*
* Add darker cyan to button hover
* on desktop on .card__body. Can we solve in another way then flex?
display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 2.5rem
* card__category on desktop: font-size: 14px
* card__title on desktop: font-size: 40px
*/
